.container1{
    height: 100px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: red;
}

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

img{
    width: 100px;
    height: 100px ;
}


/*  ul{
    display: inline-flex;
} */

/* ul{
    display: flex;
    width: 500px;
    flex-direction: row;
    text-decoration: none;
    background-color: grey;
    justify-content: center;
} */


