<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/detalle.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/061148ecae.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class=cajaA>
            <a href="/"><img class="logo" src="imagenes/Home/loguito-02.png"></a>
            <input class="buscador" type="text">
            <div class="SesionCarrito">
                <div class="sesion">
                    <a href="/login"><h3>Iniciar Sesión</h3></a>
                    <i class="fa-solid fa-address-card"></i>
                </div>
                <div class="pagar">
                    <a href="/carrito"><h3>Pagar</h3></a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li>Productos</li>
                <li>Marcas</li>
                <a href="/detalle"><li>Detalle de Producto</li></a>
                <a href="/registro"><li>Registrase</li></a>
            </ul>
        </nav>
    </header>

    <main class="mainDetalleProducto">
        <div class="detalleCaja1">
            <div class="detalleCaja2">
                <div class="detalleimagen">
                    <img src="/imagenes/Home/pixlr-bg-result.png">
                </div>
                <div class="detalletitulo">
                    <h2>Chandon California Sweet Star</h2>
                    <h4> $12.500</h4>
                    <button class="botonCarrito" type="submit">Agregar al Carrito</button>
                    <button class="botonCantidad" type="submit">- 0 +</button>
                    <ul class="listaDetalleProducto">
                        <il>Podés retirar en nuestros locales ver opciones </il>
                        <il>Podés comprar como quieras, aceptamos tarjetas de crédito, débito, mercadopago.</il>
                        <il> Compra protegida</il>
                        <il>Estamos disponibles para responder tus consultas</il>
                    </ul>
                </div>
            </div>
            <div class="detalleCaja3">
                <div class="descripcionProducto">
                    <ul>
                        <li>Envave: 750ml</li>
                        <li>Pais: Francia</li>
                        <li>Cantidad: 1</li>
                        <li>Marca: Chandon</li>
                    </ul>
                </div>
                <div class="historaProducto">
                    <p>En la historia de Champagne, los vinos que se sometían al assemblage para obtener un mayor dulzor se describían habitualmente como "rich". De hecho, las botellas de Veuve Clicquot de 1840 encontradas recientemente en las islas Aland tienen más de 150 gramos de azúcar por litro. En Rusia, tradicionalmente, los consumidores añadían azúcar a su champagne para dar un toque personal a sus vinos. Hoy, Veuve Clicquot reactualiza esta tradición gracias a RICH, un champagne dedicado a la coctelería. Veuve Clicquot RICH aporta el espíritu del cóctel a una casa ya conocida por su audacia e innovación e invita a enriquecer la experiencia de degustación con un toque de lo más Clicquot. Rich es perfecto para cualquier momento y lugar.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="contenedor1">
            <h3>Sigamos Conectados</h3>
            <div class="logos">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="nosotros">
                <ul>
                    <li>Preguntas Frecuentes</li>
                    <li>Tiempos y formas de entrega</li>
                    <li>Quienes somos</li>
                    <li>Sucursales</li>
                </ul>
            </div>
        </div>
        <div class="contendor2">
            <h3>Contáctanos</h3>
            <ul class="listaFooter">
                <li class="iconoFooter"><i class="fa-brands fa-whatsapp"></i>
                    <h4 class="textoFooter">376-4889911</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-envelope"></i>
                    <h4 class="textoFooter">activaya@gmail.com</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-map-location"></i>
                    <h4 class="textoFooter">Rivadavia 2704</h4>
                </li>
            </ul>
        </div>
        <div class="contenedor3">
            <h3>Formas de pago</h3>
            <ul>
                <li class="iconoFooter">
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                    <h4 class="textoFooter">Efectivo</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-credit-card"></i>
                    <h4 class="textoFooter">Tarjeta</h4>
                </li>
            </ul>
        </div>
    </footer>
    <small>ActivaYa - 2022. Todos los derechos reservados.</small>
</body>

</html>