.product-img{
        width: 100%;
        height: 75vw;
    }

@media (min-width: 768px){
    
.main-products {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.titleDetail{
    text-align: center;
}

.products-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

.product-img{
    width: 100%;
    height: 46vw;
}

.descriptionProduct{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.priceDetail {
    text-align: start;
}

.titleProduct {
    text-align: start;

}
}


@media (min-width: 1200px){
.product-img{
    width: 100%;
    height: 30vw;
}
}





