html{
    box-sizing: border-box;
    margin: 0%;
}

*, *::after {
    box-sizing: inherit;
}


    html{
        box-sizing: border-box;
        margin: 0%;
    }
    
    *, *::after {
        box-sizing: inherit;
    }

    li {
    list-style-type: none;}

    header{
        background-color: 541212;
    }

    .cajaA{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .CajaA img{
        width: 80%;
    }

    .cajaA input {
        width: 35%;
        height: 35px
    }

    .sesionCarrito{
        display: flex;
        flex-direction: row;
        height: 50%;
        margin: 40px;
    }

    .sesion{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }

    .sesion h3{
        margin: 10px;
        color: white;
    }
    .sesion i{
        font-size: 20px;
        color: white;
    }

    .pagar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pagar h3{
        margin:10px;
        color: white;
    }

    .pagar i {
        font-size: 20px;
        color: white;
    }

    .menu{
        display: flex;
        width: 100%
    }

    .menu ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    
    .menu ul a {
        margin: 0;
        padding: 0;
    }

    .menu ul li{
        display: flex;
        width: 100%;
        padding: 10px;
        margin: auto;
        text-align: center;
        font-size: 35px;
        color: white;
    }

             /* <----------- MAIN -----------> */

    main{
        background-color: 8B9A46;
    }

    .caja1{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* height: 100%; */
    }

    img.contain{
        object-fit: contain;
      }

    .caja2{
        display: flex;
        width: 40%;
    }

    .caja2 img{
        width: 100%;
        
    }

    .caja3{
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .caja4{
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .caja5 {
        display: flex;
        justify-content: space-between;
        height: 50%;
    }

    .caja6 {
        display: flex;
        width: 50%;
        
    }

    .caja7 {
        display: flex;
        width: 50%;
        margin: 0;
    }

    .gin{
        width: 100%;
        height: 100%;
        
    }

    .fernet{
        width: 100%;
        height: 100%;
    }

    .vino {
        width: 100%;;
        height: 100%;
    }


    /* FOOTER */

    footer{
        display: flex;
        background-color: EEEEEE;
        flex-direction: row;
        justify-content: space-around;
    }

    .iconoFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contenedorFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul{
        margin: 0;
        padding:0;
    }

    .textoFooter{
        margin: 10px;
    }

    form{
        padding: 0;
        margin: 0;
    }
    
    h2 {
        padding: 0;
        margin:0;
    }

    @media (max-width:768px) {
        .menu ul li{
            padding: 10px;
            text-align: center;
            font-size:   15px;
            color: white;
        }

        .cajaA{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            /* padding: 0; */
        }

        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .CajaA img{
            display: flex;
            flex-direction: row;
            width: 50%;
        }

        .SesionCarrito{
            margin: 10px;
            margin-bottom: 5px;
        }

        .CajaA input {
            width: 50%;
        }

        footer {
            font-size: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .listaFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contenedor1 h3 {
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .contendor2 h3 {
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .textoFooter {  
            margin: 0px;
            margin-left: 5px;
        }

        .listaFooter li {

            margin-top: 5px;
        }

        .contenedor3 h3 {
            margin-top: 30px;
            margin-bottom: 0px;
        }

    }

    @media (max-width:360px) {
        .menu ul li{
            padding: 10px;
            text-align: center;
            font-size:   15px;
            color: white;
        }

        .cajaA{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        
        .CajaA img{
            width: 50%;
        }

        footer {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .listaFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contenedor1 h3 {
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .contendor2 h3 {
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .textoFooter {  
            margin: 0px;
            margin-left: 5px;
        }

        .listaFooter li {

            margin-top: 5px;
        }

        .contenedor3 h3 {
            margin-top: 30px;
            margin-bottom: 0px;
        }

    }