<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/061148ecae.js" crossorigin="anonymous"></script>
    <title>ActivaYa!</title>
</head>

<body>
    <header>
        <div class=cajaA>
            <a href="/"><img class="logo" src="img/Home/loguito-02.png"></a>
            <input class="buscador" type="text">
            <div class="SesionCarrito">
                <div class="sesion">
                    <a href="/login"><h3>Iniciar Sesión</h3></a>
                    <i class="fa-solid fa-address-card"></i>
                </div>
                <div class="pagar">
                    <a href="/carrito"><h3>Pagar</h3></a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li>Productos</li>
                <li>Marcas</li>
                <a href="/detalle"><li>Detalle de Producto</li></a>
                <a href="/registro"><li>Registrase</li></a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="caja1">
            <div class="caja2">
               <img class="birra" src="/img/Home/heineken.jpg">
            </div>
            <div class="caja3">
                <div class="caja4">
                    <img class="gin" src="/img/Home/Sale.png">
                </div>
                <div class="caja5">
                    <div class="caja6">
                        <img class="fernet" src="/img/Home/huge.png">
                    </div>
                    <div class="caja7">
                        <img class="vino" src="/img/Home/vino.png">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="contenedor1">
            <h3>Sigamos Conectados</h3>
            <div class="logos">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="nosotros">
                <ul>
                    <li>Preguntas Frecuentes</li>
                    <li>Tiempos y formas de entrega</li>
                    <li>Quienes somos</li>
                    <li>Sucursales</li>
                </ul>
            </div>
        </div>
        <div class="contendor2">
            <h3>Contáctanos</h3>
            <ul class="listaFooter">
                <li class="iconoFooter"><i class="fa-brands fa-whatsapp"></i>
                    <h4 class="textoFooter">376-4889911</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-envelope"></i>
                    <h4 class="textoFooter">activaya@gmail.com</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-map-location"></i>
                    <h4 class="textoFooter">Rivadavia 2704</h4>
                </li>
            </ul>
        </div>
        <div class="contenedor3">
            <h3>Formas de pago</h3>
            <ul>
                <li class="iconoFooter">
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                    <h4 class="textoFooter">Efectivo</h4>
                </li>
                <li class="iconoFooter">
                    <i class="fa-solid fa-credit-card"></i>
                    <h4 class="textoFooter">Tarjeta</h4>
                </li>
            </ul>
        </div>
    </footer>
    <small>ActivaYa - 2022. Todos los derechos reservados.</small>
</body>

</html>