<html lang="en">
    <!-- Head -->
<head>
    <%- include('./partials/head.ejs') %> 
    <title>ActivaYa!</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header.ejs')%>
    <main>
        <div class="caja1">
            <div class="caja2">
               <img class="birra" src="/img/Home/heineken.jpg">
            </div>
            <div class="caja3">
                <div class="caja4">
                    <img class="gin" src="/img/Home/Sale.png">
                </div>
                <div class="caja5">
                    <div class="caja6">
                        <img class="fernet" src="/img/Home/huge.png">
                    </div>
                    <div class="caja7">
                        <img class="vino" src="/img/Home/vino.png">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer -->
    <%- include('./partials/footer.ejs')%>
</body>
</html>