<header class="main-header">
    <div class="main-header-topBar">
       <a href="../"><img src="/img/ActivaYAAAAA___1_-removebg-preview-removebg-preview.png" class="logo"></a>
       <div class="buscar"> 
        <input type="search"> <i class="fa-solid fa-search"></i>
        </div>
       <!-- <ul>
       <li class="sesion">
        <a href="/login"><i class="fa-solid fa-address-card"></i></a>
          
       </li>
       <li class="carrito">
        <a href="/shop"><i class="fa-solid fa-cart-shopping"></i></a>
        
       </li>
    </ul> -->
    </div>
    <!-- <a href="#" class="hamburguer-button"> -->
        <input type="checkbox" id="hamburguer-button">
        <label class="fa-solid fa-bars" for="hamburguer-button"></label>
        <!-- <i class="fa-solid fa-bars"></i> -->
    <nav class="main-navbar">
      <% if (locals.isLogged) { %>
      <ul class="bottom-navBar">
        <li> <a href="/users/users">Usuarios</a></li>
        <li> <a href="/products/products">Productos</a></li>
        <li> <a href="/products/create">CrearPDT</a></li>
        <li> <a href="/products/shoppingCart"> <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li> <a href="/users/userLogged">Hi, <%= locals.userLogged.userName %> </a></li>
      </ul> 
      <%  } else { %>
      <ul class="bottom-navBar">
        <li> <a href="/users/register">Registrarse</a></li>
        <li> <a href="/users/login">Login</a></li>
      </ul>
    <% } %>
    </nav>
</header>