<header>
    <div class=cajaA>
        <a class="logo" href="/"><img  src="img/Home/loguito-02.png"></a>
        <input class="buscador" type="text" placeholder="Buscar Productos: cervezas, vinos ...">
        <div class="SesionCarrito">
            <div class="sesion">
                <a href="/login"><h3>Iniciar Sesión</h3></a>
                <i class="fa-solid fa-address-card"></i>
            </div>
            <div class="pagar">
                <a href="/shoppingCart"><h3>Pagar</h3></a>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
    <nav class="menu">
        <ul>
            <a><li>Productos</li></a>
            <a href="/brands"><li>Marcas</li></a>
            <a href="/detail"><li>Detalle de Producto</li></a>
            <a href="/register"><li>Registrase</li></a>
        </ul>
    </nav>
</header>